.form {
    .edit-label {
        display: flex;

        .input {
            margin-left: 1rem;
            text-align: center;
        }


    }

    .line {
        margin-top: 1em;
        margin-bottom: 1em;
    }
}
