.post {

    box-shadow: 0 0 2px #333;
    margin-bottom: 2em;

    display: grid;
    grid-template-columns: 2em 25em;
    grid-template-rows: 2em 20em 2em 10em 2em 2em;
    grid-template-areas: 'user-image user-nickname'
        'image image'
        'like-button likes'
        'comments comments'
        'comment-form comment-form'
        'location date';

    .user-image {
        grid-area: user-image;

        width: 100%;
        height: 100%;
    }

    .user-nickname {
        grid-area: user-nickname;

        display: flex;
        align-items: center;
    }

    .date {
        grid-area: date;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .location {
        grid-area: location;

        display: flex;
        align-items: center;
    }

    .image {
        grid-area: image;

        // width: calc(100% - 2em);
        // height: calc(100% - 2em - 1px);
        width: 100%;
        height: 100%;


        // transform: translateY(calc(2em + 1px));
    }

    .like-button {
        grid-area: like-button;
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 1px solid #333;
    }

    .likes {
        grid-area: likes;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        text-align: right;
        border-bottom: 1px solid #333;
    }

    .comments {
        word-wrap: anywhere;

        width: 27em;
        border-bottom: 1px solid #333;

        line-height: 1.5em;
    }

    .comment-input {
        border: none;
        padding: 0 .5em;

        width: 80%;
    }

    .comment-input-submit {
        cursor: pointer;
        background: #33333344;
        height: 100%;
        border: none;
        padding: 0 .5em;
        width: 20%;

        &:hover {
            background: #33333310;
        }
    }

    .comment-form {
        grid-area: comment-form;
        padding: 0;

        border-bottom: 1px solid #333;

        display: flex;
    }
}
