.header {
    grid-area: header;

    box-shadow: 0 -1px 2px 0 #ccc inset;
    padding: 0 3em;

    display: flex;
    justify-content: space-between;
    align-items: center;

    .header-title {
        font-family: "Lobster";
        font-size: 1.5rem;
        letter-spacing: 3px;

        display: flex;
        align-items: center;
    }

    .link {
        margin-left: 1em;
    }

    .user-links {
        display: flex;
        align-items: center;

        .header-profile-image {
            width: 2rem;
            // height: 2rem;
            border-radius: 50%;

            box-shadow: 0 0 2px #333;
        }
    }
}
